<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marcos</title>
</head>

<body>
  {% block content %}
  <h2>Buscar Usuario</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Buscar</button>
  </form>
  {% csrf_token %}
  {% if usuarios %}
  <h3>Resultados de la búsqueda:</h3>
  <ul>
    {% for usuario in usuarios %}
    <li>{{ usuario.nombre }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endblock %}
</body>

</html>